<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Edad</th>
  </tr>
  <tr *ngFor="let dato of datos">
    <td>{{ dato.id }}</td>
    <td>{{ dato.nombre }}</td>
    <td>{{ dato.edad }}</td>
  </tr>
</table>
